//基础样式
*{box-sizing: border-box;}
body,h1,h3,h4,h2,h5,h6,ul,ol,p,fieldset,dd,dl,input,textarea,option,hr,td{margin:0;padding:0;}
h1,h3,h4,h2,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
li{list-style:none;}
img{border:none;}
a,a:hover{text-decoration:none; outline: none;color: inherit}
a:visited,a:link{
  text-decoration:none; outline: none;
}
input,button{outline:none;}
body{
  // font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
  font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important;
  color: #666;
  font-size: 16px;
  width: 100%;
  background-color: #f0f2f5 !important;
}
